@CHARSET "UTF-8";
body {
	background-color: black;
	height: 100%;
  width : 100%;
}

#title{
  text-align: center;
  font-size: 70px;
}

#InputBox {
  text-align: center;
   height: 100px;
}

#SelectedName {
  font-size: 210px;
  text-align: center;
  font-weight: bold;
  height: 220px;
}
  
#get , #Cancel , #Time{
  border : 2px white solid;
  border-radius : 15px;
  font-size: 30px;
  background-color: black;
  color : Yellow;
  width: 120px;
}

#Time {
 width: 120px;
}

#Cancel {
	color : red;
	margin-top: -7%;
}

#Congratulation {
  font-size: 60px;
  text-align: center;
}
