@CHARSET "UTF-8";
body {
	background-color: black;
}

#title{
  text-align: center;
  font-size: 70px;
}

#box {
  text-align: center;
}

#who {
  font-size: 300px;
  text-align: center;
  font-weight: bold;
  height: 350px;
}

#no {
  border : 2px white solid;
  border-radius : 15px;
  font-size: 30px;
  background-color: black;
  color : white;
}
  
#get {
  border : 2px white solid;
  border-radius : 15px;
  font-size: 30px;
  background-color: black;
  color : white;
}

#Ha {
  font-size: 60px;
  text-align: center;
}
